<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="align-content: center">
    <h1>生成失败</h1>
</div>

<!--&lt;!&ndash;/*@thymesVar id="greeting" type="ch"*/&ndash;&gt;-->
<!--&lt;!&ndash;/*@thymesVar id="id" type="ch"*/&ndash;&gt;-->
<!--<p th:text="'id: ' + ${greeting.id}" />-->
<!--&lt;!&ndash;/*@thymesVar id="content" type="ch"*/&ndash;&gt;-->
<!--<p th:text="'content: ' + ${greeting.content}" />-->
<!--<a href="/greeting">Submit another message</a>-->
</body>
</html>